**/bin/
**/obj/
**/user-data/
**/logs/
**/.vs/
**/.vscode/
**/node_modules/
*.user
*.suo
.git
.gitignore
README.md
LICENSE
job-history.json
LinkedinBot.Console/appsettings.json
LinkedinBot.Console/resume.md
LinkedinBot.Worker/appsettings.json
LinkedinBot.Worker/resume.md
